* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  border-spacing: 0;
}

th {
  text-align: left;
  padding-left: .5rem;
  background: lightgrey;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

tr {
  margin-bottom: .5rem;
  line-height: 2.5rem;
}

td {
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-left: .5rem;
}

.tableBlock {
  border: 2px solid black;
  margin: 1rem auto;
  background-color: white;
  border-radius: 7.5px;
}

button a {
  padding: 1rem;
  line-height: 1.5rem;
}

.actionsBlock {
  display: flex;
  gap: 1rem;
}

#mainContainer {
  width: 80%;
  margin: 5rem auto 0 auto;
}

#backBtnDiv {
  height: 2.5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  padding: 0 5rem;
  position: fixed;
  bottom: 0;
  background-color: gainsboro;
  width: 100%;
}