* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  border-spacing: 0;
}

th {
  text-align: left;
  padding-left: .5rem;
  background: lightgrey;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

tr {
  margin-bottom: .5rem;
  line-height: 2.5rem;
}

td {
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-left: .5rem;
}

.tableBlock {
  /* width: 80%; */
  border: 2px solid black;
  margin: auto;
  background-color: white;
  border-radius: 7.5px;
}

.actionsBlock {
  display: flex;
  gap: 1rem;
}

#mainContainer {
  width: 80%;
  margin: 5rem auto 0 auto;
}