@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #efefef;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 5rem;
  height: 3.5rem;
  background-color: #247ba0;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
}

table {
  width: 100%;
  border-spacing: 0;
}

th {
  position: sticky;
  top: 0;
  text-align: left;
  padding-left: .5rem;
  background-color: #DDDBCB;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 0;
  border-top: 0;
}

tr {
  margin-bottom: .5rem;
  line-height: 2.8rem;
}

td {
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-left: .5rem;
}

footer {
  justify-content: space-between;
  align-items: flex-start;
  height: 9rem;
  padding: 1.5rem 5rem;
  position: fixed;
  bottom: 0;
  background-color: #247ba0;
  box-shadow: 0 -3px 5px 1px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  width: 100%;
}

i {
  font-size: 1.5rem;
  color: #050505;
  width: 2.3rem;
}

a {
  text-decoration: none;
  color: #e63946;
}

h1 {
  margin: .5rem 0;
}

h4 {
  color: lightcoral;
}

input {
  outline: 0;
  background-color: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: .3rem;
  border-radius: 5px;
}

.icon {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  white-space: nowrap;
}

.actionsBlock {
  display: flex;
  gap: 1rem;
}

.actionBtn {
  border: 0;
  background: 0;
  cursor: pointer;
  padding-top: .7rem;
}

.actionBtn i {
  width: 100%;
}

.actionBtn i:hover {
  color: #888;
  transition: .3s;
}

.uploadFormDiv {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.uploadFormDiv input[type=file] {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
}

.uploadBtn,
.formBtn,
#loginForm > form > button {
  background-color: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: .3rem;
  margin: .2rem;
  border-radius: 5px;
  font-weight: 600;
}

.tableBlock {
  border: 3px solid rgba(0, 0, 0, 0.3);
  margin: 1rem auto;
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 25rem;
}

.tableBlock::-webkit-scrollbar {
  border: 1px solid black;
  width: .5rem;
}

.tableBlock::-webkit-scrollbar-thumb {
  background: #888;
}

.tableBlock::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tableHeaderRow th:nth-child(1) {
  width: 10%;
  min-width: 6rem;
}

.tableHeaderRow th:nth-child(2) {
  width: 70%;
}

.tableHeaderRow th:nth-child(3),
.tableHeaderRow th:nth-child(4) {
  width: 7.5%;
  min-width: 5rem;
}

#mainContainer {
  width: 90%;
  margin: 5rem auto 0 auto;
}

#backBtnDiv {
  height: 3.2rem;
}

#backBtnDiv button,
#logOutBtn {
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#backBtnDiv button a,
#logOutBtn {
  display: flex;
  align-items: center;
  padding: .5rem;
  text-decoration: none;
}

#backBtnDiv button a i {
  font-size: 2rem;
}

.formBtn:hover,
#loginForm > form > button:hover,
#backBtnDiv button:hover,
#logOutBtn:hover {
  background: #dfdfdf;
  transition: .3s;
}

#loginForm {
  width: 40%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.3);
  background: #dfdfdf;
  border-radius: 5px;
  padding: 2rem;
  text-align: center;
}

#uploadBlock {
  text-align: center;
}

#loginForm form {
  padding: 1rem;
}

#loginForm form input {
  margin-bottom: .5rem;
}

#errorMsgDiv {
  width: 50%;
  margin: auto;
  background-color: lightcoral;
  border-radius: 5px;
}

#errorMsg {
  text-align: center;
  font-size: 1.2rem;
}